﻿@using ChipBot.Core.Web.Abstract

<li class="ms-3">
    <NavLink href="@PageInfo.Link" class="nav-link text-secondary text-center" aria-current="page" Match="@PageInfo.NavLinkMatch" target="@(PageInfo.OpenInNewTab ? "_blank" : null)" >
        <i class="@PageInfo.Icon d-block mx-auto mb-1" width="24" height="24"></i>
        <span>@PageInfo.Name</span>
    </NavLink>
</li>

@code {
    [Parameter]
    public PageInfo PageInfo { get; set; }
}