﻿<a role="button" class="link-opacity-50-hover" @onclick="() => Callback?.Invoke()">
    <i class="bi bi-@Icon @Class"></i>
</a>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public Func<Task> Callback { get; set; }
}