﻿<a role="button" class="@(IsActive ? ActiveClass : InactiveClass)" @onclick="() => Callback?.Invoke()">
    <i class="bi bi-@Icon @Class"></i>
</a>

@code {
    [Parameter]
    public string Class { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public Func<Task> Callback { get; set; }

    private string ActiveClass { get; set; } = "link-opacity-100 link-opacity-50-hover";
    private string InactiveClass { get; set; } = "link-opacity-50 link-opacity-100-hover";
}