﻿@using XinyanBot.Client.Extensions
@using XinyanPlugin.Shared.Api


<div class="d-flex align-items-center mb-3 gap-3 col-12 col-lg-8 col-xl-6 col-xxl-5">
    <strong>
        @if (Index.HasValue)
        {
            @Index.Value
        }
        else
        {
            <i class="bi bi-music-note"></i>
        }
    </strong>

    <img class="d-none d-md-block rounded" height="48" src="@Track.Image" />

    <a href="@Track.Url" target="_blank" class="text-decoration-none d-flex flex-column flex-fill text-nowrap overflow-hidden">
        <strong class="lh-lg text-truncate">@Track.Title</strong>
        <small class="lh-1 text-truncate">@Track.Author</small>
    </a>

    <div class="d-none d-sm-block">
        <UserCardSmall UserId="Track.UserId" />
    </div>

    <span class="text-secondary">@Track.Duration.ToTrackTime()</span>
</div>

@code {
    [Parameter]
    public ApiTrack Track { get; set; }

    [Parameter]
    public int? Index { get; set; }
}
