﻿@using System.Reflection
@using XinyanBot.Client.Services
@inject List<Assembly> assemblies
@inject ThemeManager themeManager

@if (otherAssemblies != null)
{
    <CascadingAuthenticationState>
        <Router AppAssembly="thisAssembly" AdditionalAssemblies="otherAssemblies">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <Authorizing>
                        <MainLayoutText Title="Authorizing...">
                            Authorizing...
                        </MainLayoutText>
                    </Authorizing>
                    <NotAuthorized>
                        <MainLayoutText Title="Not Authorized">
                            You are not authorized to access this resource.
                        </MainLayoutText>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <MainLayoutText Title="Not Found">
                        Sorry, there's nothing at this address.
                    </MainLayoutText>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>
}

@code {
    private Assembly thisAssembly;
    private IEnumerable<Assembly> otherAssemblies;

    protected override async Task OnInitializedAsync()
    {
        await themeManager.SetCurrentTheme();

        thisAssembly = typeof(App).Assembly;
        otherAssemblies = assemblies.Except(new List<Assembly>() { thisAssembly });
    }
}