﻿@using ChipBot.Core.Shared.Constants
@using ChipBot.Core.Web.Abstract
@using ChipBot.Core.Web.Models
@using XinyanBot.Client.Shared.App
@inherits LayoutComponentBase
@inject IOrderedEnumerable<NavItem> navItems
@inject DiscordCacheService discordCache

<CascadingValue Value="webAppState">
    @if (webAppState.IsLoading)
    {
        <div class="h-100 w-100 position-absolute d-flex align-items-center justify-content-center bg-black bg-opacity-75" style="z-index:2000;">
            <span class="global-loader global-loader-image"></span>
        </div>
    }

    <header>
        <div class="px-3 py-2 border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <NavLink href="/" class="d-flex align-items-center my-2 my-lg-0">
                        <div class="global-icon" />
                    </NavLink>

                    <AuthorizeView>
                        <ul class="nav flex-fill my-2 my-md-0 text-small">
                            @foreach (var navItem in navItems)
                            {
                                <NavItemTemplate NavItem="navItem" AuthState="context" />
                            }

                            <NavItemTemplate NavItem="swaggerNavItem" AuthState="context" />
                        </ul>

                        <ThemeChangeComponent />
                        <div class="flex-shrink-0 dropdown">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@context.User.FindFirst(ClaimDefaults.Avatar).Value" alt="" width="32" height="32" class="rounded-circle me-2" />
                            </a>
                            <ul class="dropdown-menu text-small shadow" style="">
                                <li><a class="dropdown-item" href="/app/developer/applications">Developer</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                            </ul>
                        </div>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </header>

    <main class="h-100 w-100 d-flex" style="@(webAppState.IsLoading ? "filter:blur(2px);" : "")">
        <div class="px-3 py-2 flex-fill">
            <div class="container">
                @Body
            </div>
        </div>
    </main>
</CascadingValue>

@code {
    private static readonly PageInfo swaggerNavItem = new PageInfo()
    {
        Icon = "bi bi-filetype-json",
        Link = "/swagger",
        Name = "Swagger",
        Order = 50,
        OpenInNewTab = true
    };

    private WebAppState webAppState = new();

    protected override void OnInitialized()
    {
        webAppState.StateChanged += StateHasChanged;
    }
}
