﻿<XinyanTitle Title="@Title"></XinyanTitle>
<p class="lead" role="alert">@ChildContent</p>
@if (DisplayGoHomeButton)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <NavLink href="/" class="btn btn-primary btn-lg px-4 me-md-2">Take Me Home</NavLink>
    </div>
}

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool DisplayGoHomeButton { get; set; } = true;
}
