﻿@inherits LayoutComponentBase

<main class="h-100 w-100 d-flex align-items-center">
    <div class="container col-xxl-12 p-3">
        <div class="row flex-lg-row-reverse align-items-center g-3 py-3">
            <div class="col-12 col-lg-8">
                <img src="/styles/xinyan/back.png" class="d-block mx-lg-auto img-fluid" alt="ChipBot" width="512" height="512" loading="eager">
            </div>
            <div class="col-lg-4">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">ChipBot</h1>
                <div>
                    @Body
                </div>
            </div>
        </div>
    </div>
</main>