﻿@using XinyanBot.Client.Services
@inject ThemeManager themeManager

<div class="me-3 dropdown-toggle d-flex align-items-center" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme">
    <i class="@currentTheme.Icon my-1"></i>
    <span class="visually-hidden">Toggle theme</span>
</div>
<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    @foreach (var theme in ThemeManager.Themes)
    {
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="@theme.Value" aria-pressed="false" @onclick="() => OnThemeChange(theme.Value)">
                <i class="@theme.Icon me-2 opacity-50 theme-icon"></i>
                @theme.Name
                <i class="bi bi-check2 ms-auto @(theme.Value == currentTheme.Value ? "" : "d-none")"></i>
            </button>
        </li>
    }

    <li><hr class="dropdown-divider"></li>

    @foreach (var style in ThemeManager.Styles)
    {
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-style-value="@style.Value" aria-pressed="false" @onclick="() => OnStyleChange(style.Value)">
                <img height="24" width="24" src="/styles/@style.Value/icon.png" class="me-2 opacity-50 theme-icon" />
                @style.Name
                <i class="bi bi-check2 ms-auto @(style.Value == currentStyle.Value ? "" : "d-none")"></i>
            </button>
        </li>
    }
</ul>

@code {
    private string currentThemeKey;
    private string currentStyleKey;

    private Theme currentTheme => ThemeManager.Themes.FirstOrDefault(t => t.Value == currentThemeKey) ?? ThemeManager.Themes.First();
    private Style currentStyle => ThemeManager.Styles.FirstOrDefault(t => t.Value == currentStyleKey) ?? ThemeManager.Styles.First();

    protected override async Task OnInitializedAsync()
    {
        currentThemeKey = await themeManager.GetCurrentTheme();
        currentStyleKey = await themeManager.GetCurrentStyle();
    }

    private async Task OnThemeChange(string theme)
    {
        await themeManager.SetTheme(theme);
        currentThemeKey = theme;
    }

    private async Task OnStyleChange(string style)
    {
        await themeManager.SetStyle(style);
        currentStyleKey = style;
    }
}
