﻿@using ChipBot.Core.Shared.Constants
@using Microsoft.AspNetCore.SignalR.Client
@using XinyanBot.Client.Extensions
@using XinyanBot.Client.Shared.App.Player
@using XinyanPlugin.Shared.Api
@layout PlayerLayout
@page "/app/player"
@inject NavigationManager nav
@implements IAsyncDisposable

<PageTitle>@titleMessage - Xinyan</PageTitle>

<div class="position-absolute w-100 h-100 global-back" />

<div class="d-flex flex-column flex-fill p-3 overflow-auto">
    <div class="d-flex flex-row align-items-center">
        <ul class="nav nav-underline flex-fill">
            <li class="nav-item">
                <a class="nav-link @(isHistory ? "" : "active")" role="button" @onclick="() => OpenHistory(false)">Queue</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(isHistory ? "active" : "")" role="button" @onclick="() => OpenHistory(true)">History</a>
            </li>
        </ul>

        <AuthorizeView>
            <ThemeChangeComponent />
            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@context.User.FindFirst(ClaimDefaults.Avatar).Value" alt="" width="32" height="32" class="rounded-circle me-2" />
                </a>
                <ul class="dropdown-menu text-small shadow" style="">
                    <li><a class="dropdown-item" href="/app/developer/applications">Developer</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                </ul>
            </div>
        </AuthorizeView>
    </div>

    <div class="d-flex flex-column p-3">
        @if (isHistory)
        {
            @foreach (var track in queue.History)
            {
                <TrackLine Track="track" />
            }
        }
        else
        {
            @if (queue.CurrentTrack != null)
            {
                <div class="d-flex flex-column mb-3">
                    <strong class="mb-1">Now Playing</strong>
                    <TrackLine Track="queue.CurrentTrack" />
                </div>
            }
            @if (queue.Queue.Any())
            {
                <div class="d-flex flex-column">
                    <strong class="mb-1">Next Up</strong>
                    @for (var i = 0; i < queue.Queue.Count; i++)
                    {
                        <TrackLine Track="queue.Queue[i]" Index="i+2" />
                    }
                </div>
            }
        }
    </div>
</div>
<div class="d-flex justify-content-center align-items-center bg-body-tertiary p-3">
    @if (state.Guild != null)
    {
        <div class="d-none d-sm-flex justify-content-center align-items-center">
            <img src="@state.Guild.IconUrl" class="me-3 rounded-3" height="48" />
            <span class="fw-bold">@state.Guild.Name</span>
        </div>
    }

    <div class="d-flex flex-column justify-content-center align-items-center flex-fill">
        <div class="d-flex justify-content-center align-items-center gap-2">
            <PlayerButton Class="fs-2" Icon="stop" Callback="Stop" />
            <PlayerButton Class="fs-1" Icon="@(state.IsPlaying ? "pause-circle" : "play-circle")" Callback="PlayPause" />
            <PlayerButton Class="fs-2" Icon="skip-end" Callback="Skip" />
        </div>
        <div class="d-flex justify-content-center align-items-center gap-2">
            <span>@state.Position.ToTrackTime()</span>
            <div class="progress" role="progressbar" style="height: 3px; width:250px;">
                <div class="progress-bar" style="width: @((state.Position.TotalSeconds / (queue.CurrentTrack?.Duration ?? TimeSpan.Zero).TotalSeconds).ToString("P0"));"></div>
            </div>
            <span>@((queue.CurrentTrack?.Duration ?? TimeSpan.Zero).ToTrackTime())</span>
        </div>
    </div>

    <div class="d-none d-sm-flex justify-content-center align-items-center gap-2 me-3">
        <TogglePlayerButton Class="fs-4" Icon="shuffle" IsActive="state.IsShuffleEnabled" Callback="ToggleShuffle" />
        <TogglePlayerButton Class="fs-4" Icon="repeat" IsActive="state.IsRepeatEnabled" Callback="ToggleRepeat" />
    </div>

    <div class="d-none d-md-flex">
        <i class="bi bi-volume-@(state.Volume <= 0 ? "mute" : state.Volume < 50 ? "down" : "up")"></i>
        <input type="range" min="0" max="100" value="@state.Volume" @onchange="(e) => Volume(e.Value)" style="width:100px;">
    </div>
</div>

@code {
    private HubConnection hubConnection;
    private string titleMessage = QueueEmpty;

    private ApiQueue queue = new();
    private ApiPlayerState state = new();

    private bool isDisposed = false;
    private bool isHistory = false;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(nav.ToAbsoluteUri("/xinyanr"))
            .WithAutomaticReconnect()
            .Build();

        await hubConnection.StartAsync();

        hubConnection.On<ApiQueue>("ReceiveQueue", OnGetQueue);
        hubConnection.On<ApiPlayerState>("ReceivePlayerState", OnGetPlayerState);

        _ = Ping();
    }

    private async Task Ping()
    {
        while (!isDisposed)
        {
            await SendHubAction(hub => hub.SendAsync("GetPlayerState"));
            await Task.Delay(TimeSpan.FromSeconds(1));
        }
    }

    private async Task ToggleShuffle()
    {
        await SendHubAction(hub => hub.SendAsync("ToggleShuffle"));
    }

    private async Task ToggleRepeat()
    {
        await SendHubAction(hub => hub.SendAsync("ToggleRepeat"));
    }

    private async Task PlayPause()
    {
        await SendHubAction(hub => hub.SendAsync("Play"));
    }

    private async Task Stop()
    {
        await SendHubAction(hub => hub.SendAsync("Stop"));
    }

    private async Task Skip()
    {
        await SendHubAction(hub => hub.SendAsync("Skip"));
    }

    private async Task Volume(object obj)
    {
        var value = int.Parse((string)obj);
        state.Volume = value;
        await SendHubAction(hub => hub.SendAsync("Volume", value));
    }

    private void OnGetQueue(ApiQueue newQueue)
    {
        queue = newQueue ?? new();
        titleMessage = $"{queue.CurrentTrack?.Author} - {queue.CurrentTrack?.Title}";
        StateHasChanged();
    }

    private void OpenHistory(bool value)
    {
        isHistory = value;
        StateHasChanged();
    }

    private async Task OnGetPlayerState(ApiPlayerState newState)
    {
        var shouldLoadQueue = false;
        if (newState.IsPlaying && queue.CurrentTrack == null) shouldLoadQueue = true;
        if (newState.Guild.Id != (state.Guild?.Id ?? 0)) shouldLoadQueue = true;

        state = newState ?? new();
        if (shouldLoadQueue)
        {
            await SendHubAction(hub => hub.SendAsync("GetQueue"));
        }
        StateHasChanged();
    }

    private async Task SendHubAction(Func<HubConnection, Task> action)
    {
        if (hubConnection != null && IsConnected)
        {
            await action(hubConnection);
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        isDisposed = true;
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private const string QueueEmpty = "Queue is empty";
}